<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tell about yourself and your favorite book</title>
</head>
<body>
<form action="/register/" method="POST">
  {% csrf_token %}
  {% for field in form_fields %}
    <p>

      <input type="{{ field.type }}" id="{{ field.id }}" name="{{ field.name }}" maxlength="100" value="" autofocus>
      <label for="{{ field.id }}">{{ field.label }}</label>
    </p>
    {% endfor %}
    <input type="submit" value="Submit">

</form>

</body>
</html>